<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h2>Admin Login</h2>
    {{#if error}}
      <p style="color:red;">{{error}}</p>
    {{/if}}
    <form action="/admin/login" method="POST">
      <label>Username</label>
      <input type="text" name="username" required /><br />
      <label>Password</label>
      <input type="password" name="password" required /><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
